
.slider {
  position: relative;
  max-width: 90%;
  margin: auto;
  overflow: visible;
  min-height: 450px;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 450px;
}

.slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-content {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: #ffffff;
  z-index: 5;
  padding-right: 15%;
}


.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: #f7feff;
  background-color: transparent;
  border: none;
  z-index: 10;
}

.arrow:hover {
  background-color: #333;
  color: #ffffff;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}


.button {
  margin: 10px;
  background-color: #343a40;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #495057;
}
