.contacts-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.contact-block {
  text-align: center;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .contacts-container {
    flex-direction: column;
    align-items: center;
  }
  .contact-block {
    padding: 20px;
    max-width: 90%;
  }
  
  .contact-block {
    width: calc(100% - 40px); 
  }
}

.contact-block h2 {
  margin-bottom: 20px; 
}

.contact-block p a {
  color: #007bff; 
  text-decoration: none;
}

.contact-block p a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
}


