
.store-header {
  background-color: #333;
  color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.store-header a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  transition: border-bottom 0.3s ease-in-out;
}

.store-header a:hover, .store-header a:focus {
  border-bottom: 2px solid #7bdff2;
}


@media (max-width: 768px) {
  .store-header {
    flex-direction: column;
    padding: 10px;
  }

  .store-header a {
    margin: 5px 0;
  }
}
